
<h1>SEND A MESSAGE</h1>

<input type="radio" name="group1" id="email_button" value="email" /> Email<br>
<input type="radio" name="group1" id="text_button" value="text" /> Text<br>
<input type="radio" name="group1" id="twitter_button" value="twitter" />  Twitter<br>

Type email, phone or twitter handle: <br>
<input type="textarea" id="receiver" /> <br>
Type your message here: <br>
<input type="text" id="message_text" />
<br>
<input type="button" id="go_button" value="Go"/>

<div id="return_message"></div>
