
<div id="main">
<h1>Communikatr</h1>
<h3>Send an email, text or twitter @message:</h3>

<div id="radio_buttons">
  <input type="radio" name="group1" id="email_button" value="email" /> Email<br>
  <input type="radio" name="group1" id="text_button" value="text" /> Text<br>
  <input type="radio" name="group1" id="twitter_button" value="twitter" />  Twitter<br>
</div>

Type email, phone or twitter handle: <br>
<input type="textarea" id="receiver" /> <br>
Type your message here: <br>
<input type="text" id="message_text" />
<br>
<input type="button" id="go_button" value="Communikate"/>

<div id="return_message"></div>

</div>